################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CoolDiff/bin/Debug/netcoreapp2.1
/CoolDiff/obj
*.user
/DAL/bin/Debug/netstandard2.0
/DAL/obj
