
.bottom-space {
    margin-bottom: 40px;
}

.no-bottom-space {
    margin-bottom: 0;
}

.statistics-close-btn {
}

.todo-close-btn {
    margin: 0 10px -25px 0;
    position: relative;
    z-index: 1;
}

.banner-close-btn {
    margin: 0 10px -25px 0;
    position: relative;
    z-index: 1;
}

.textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
