<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-md-9">
                <h3>Welcome to CoolDiff</h3>
                <p>This application provides a quick and convenient way to Diff files and maintain your task list</p>
            </div>
            <div class="col-md-3 contact-us">
                <h4>Drop us a line...</h4>
                <p><span title="Follow us on twitter" class="fa fa-twitter fa-fw"></span> <a class="black-anchor" target="_blank" href="https://twitter.com/cooldiffnet">twitter.com/cooldiffnet</a></p>
                <p><span title="Drop us a mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:info@cooldiff.net">info@cooldiff.net</a></p>
                <p><span title="Website" class="fa fa-globe fa-fw"></span> <a class="black-anchor" target="_blank" href="https://www.cooldiff.net/contact">www.cooldiff.net</a></p>
            </div>
        </div>
    </div>
</div>
